/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5; /* Background color for the entire page */
}

h1, h2, h3 {
    color: #333;
}

.card {
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
}
